#rcorners1 {
    text-align: center;
    border-radius: 1.7vw;
    padding: 1.5vw;
    width: 50vw;
    height: 3vw;
    border-style: solid;
    border-width: 2px;
}

#rcornersText{
    color: black;
    font-size: 2.2vw;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#RecRound{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
