body{
    margin: 0;
}

#cover{
    width: 100%;
    height: 100%;
    margin: 0;
    display: table;
}

#line{
    background-color: black;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#nameHolder{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 7vmax;
}

#Fname{
    margin: 0;
    font-size: 7vmax;
    font-family: 'Josefin Sans', sans-serif;
}

#TwoCircles{
    display: inline-flex;
}

#Personal{
    margin-right: 7vmax;
    margin-top: 2.5vmax;
    margin-left: 0;
    margin-bottom: 0;
    box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.41);
    width: 8vmax;
	height: 8vmax;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 4vmax;
}

#Business{
    margin-left: 7vmax;
    margin-top: 2.5vmax;
    margin-right: 0;
    margin-bottom: 0;
    box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.41);
    width: 8vmax;
	height: 8vmax;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 4vmax;
}
