body{
    margin: 0;
    overflow: hidden;
}

#scrollout{
    position: absolute;
    top: 0;
    left: 0;
}

#scrollOutCircle{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    width: 140vmax;
	height: 140vmax;
	background: black;
	-moz-border-radius: 70vmax;
	-webkit-border-radius: 70vmax;
	border-radius: 70vmax;
    
    -webkit-animation-name: sOut;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    animation-name: sOut;
    animation-duration: .5s;
}

/* Standard syntax */
@keyframes sOut {
    0%{
    width: 0vmax;
	height: 0vmax;
	-moz-border-radius: 0vmax;
	-webkit-border-radius: 0vmax;
	border-radius: 0vmax;
    }
    100%{
    width: 140vmax;
	height: 140vmax;
	-moz-border-radius: 70vmax;
	-webkit-border-radius: 70vmax;
	border-radius: 70vmax;
    }
}

#cover{
    width: 100%;
    height: 100%;
    margin: 0;
    display: table;
    overflow: hidden;
}

#line{
    background-color: black;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#nameHolder{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 7vmax;
}

#Fname{
    margin: 0;
    font-size: 8vmax;
    font-family: 'Josefin Sans', sans-serif;
    
    -webkit-animation-name: Fname;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-name: Fname;
    animation-duration: 1.5s;
}

/* Standard syntax */
@keyframes Fname {
    0%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}

#TwoCircles{
    display: inline-flex;
}

#TwoNames{
    display: inline-flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

#TnamesHolder{
    margin-top: 0px;
    margin-bottom: 0px;
}

#Personal{
    margin-right: 7vmax;
    margin-top: 2.5vmax;
    margin-left: 0;
    margin-bottom: 0;
    
    -webkit-animation-name: Personal;
    -webkit-animation-duration: .6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    animation-name: Personal;
    animation-duration: .6s;
}

#Business{
    margin-left: 7vmax;
    margin-top: 2.5vmax;
    margin-right: 0;
    margin-bottom: 0;
    
    -webkit-animation-name: Business;
    -webkit-animation-duration: .6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    animation-name: Business;
    animation-duration: .6s;
}

/* Standard syntax */
@keyframes Personal {
    0%{
    transform: scale(0);
    }
    100%{
    transform: scale(1);
    }
}

/* Standard syntax */
@keyframes Business {
    0%{
    transform: scale(0);
    }
    100%{
    transform: scale(1);
    }
}

#Pcircle{    
    display: table;
    box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.41);
    width: 8vmax;
	height: 8vmax;
	background: white;
	-moz-border-radius: 4vmax;
	-webkit-border-radius: 4vmax;
	border-radius: 4vmax;
}

#Pcircle:hover{
    box-shadow: -4px 4px 12px -1px rgba(0,0,0,0.41);
}

#ClickCircle{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 500px;
	height: 500px;
	background: red;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
    
    -webkit-animation-name: ClickCircle;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    animation-name: ClickCircle;
    animation-duration: 3s;
}

/* Standard syntax */
@keyframes ClickCircle {
    0%{
    transform: scale(0);
    }
    100%{
    transform: scale(1);
    }
}

#svgHolder{    
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#Bcircle{
    clip-path: circle(0% at 50% 50%);
    display: table;
    box-shadow: -5px 5px 12px -1px rgba(0,0,0,0.41);
    width: 8vmax;
	height: 8vmax;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 4vmax;
}

#Bcircle:hover{
    box-shadow: -4px 4px 12px -1px rgba(0,0,0,0.41);
}

#Pname{
    margin-top: .5vmax;
    margin-bottom: 0px;
    font-size: 1.23vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    -webkit-animation-name: Pname;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    animation-name: Pname;
    animation-duration: 2.5s;
}

#Bname{
    margin-top: .5vmax;
    margin-bottom: 0px;
    font-size: 1.23vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    -webkit-animation-name: Bname;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    animation-name: Bname;
    animation-duration: 2.5s;
}

/* Standard syntax */
@keyframes Pname {
    0%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}

/* Standard syntax */
@keyframes Bname {
    0%{
    opacity: 0;
    }
    100%{
    opacity: 1;
    }
}
